html, body {
  height: 100%;
  margin: 0;
}

#c {
  display: block;
  width: 100%;
  height: 100%;
}

#info {
  font-family: monospace;
  position: absolute;
  top: 1em;
  left: 1em;
  padding: .5em;
  color: white;
  background: rgba(0, 0, 0, .8);
}
