<!DOCTYPE html>
<html lang="en">
<head>
  <title>Discoverthreejs.com - Ambient Lighting</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta charset="UTF-8"/>
  <link href="https://discoverthreejs.com/favicon.ico" rel="icon" type="image/x-icon">
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<h1>Discoverthreejs.com - Ambient Lighting</h1>
<div id="scene-container">
  <!-- Our <canvas> will be inserted here -->
</div>
<script src="script.js" type="module"></script>
</body>
</html>
