<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>three.js app</title>
  <style>
    body {
      margin: 0;
    }
  </style>
</head>
<body>
<script async src="/es-module-shims-1.3.6/dist/es-module-shims.js"></script>
<script type="importmap">
  {
  	"imports": {
  		"three": "/build/three.module.js"
  	}
  }
</script>

<script type="module">
  import * as THREE from 'three';
  import { OrbitControls } from '/jsm/controls/OrbitControls.js';

  let width = window.innerWidth;
  let height = window.innerHeight;

  let scene = new THREE.Scene();
  let camera = new THREE.PerspectiveCamera(75, width / height, 0.1, 1000);

  let renderer = new THREE.WebGLRenderer({antialias: true});
  renderer.setSize(width, height);
  document.body.appendChild(renderer.domElement);

  let geometry = new THREE.BoxGeometry(1, 1, 1);
  let material = new THREE.MeshBasicMaterial({color: 0x0000ff});
  let cube = new THREE.Mesh(geometry, material);
  scene.add(cube);

  let controls = new OrbitControls(camera, renderer.domElement);

  camera.position.z = 5;

  // Put the call to requestAnimationFrame at the bottom
  // http://threejs.org/manual/#en/debugging-javascript
  function animate() {
    // -- do stuff --
    cube.rotation.x += 0.01;
    cube.rotation.y += 0.01;
    renderer.render(scene, camera);
    requestAnimationFrame(animate);
  }

  animate();
</script>

</body>
</html>
