body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.font-exo {
  font-family: 'Exo 2', sans-serif;
}

.font-space-mono {
  font-family: 'Space Mono', monospace;
}

/* SOCIAL ICONS */
.twitter:hover a {
  transform: rotate(-45deg) scale(1.05);
}

.twitter:hover i {
  color: #21c2ff;
}

.twitter a {
  right: -75px;
  bottom: -40px;
  transform: rotate(-45deg);
}

.twitter i {
  right: 7px;
  bottom: 7px;
  color: #00aced;
}

.social-icon a {
  position: absolute;
  display: inline-block;
  width: 150px;
  height: 80px;
  transition: .15s ease-out;
  transform-origin: 50% 50%;
  color: white;
  background: white;
  box-shadow: -1px -1px 20px 0 rgba(0, 0, 0, .3);
}

.social-icon i {
  position: absolute;
  z-index: 1000;
  transition: .15s ease-out;
  pointer-events: none;
}

.youtube:hover a {
  transform: rotate(45deg) scale(1.05);
}

.youtube:hover i {
  color: #ec4c44;
}

.youtube a {
  bottom: -40px;
  left: -75px;
  transform: rotate(45deg);
}

.youtube i {
  bottom: 7px;
  left: 7px;
  color: #e62117;
}
